* {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.dojo_form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid black;
  width: 300px;
  height: 200px;
  margin: 20px 0;
}

td {
  padding: 5px 0;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.main {
  width: 50%;
  height: 60%;
}

.dojo {
  display: flex;
}

.column1 {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
}

.column2 {
  width: 400px;
  height: 400px;
  margin: 20px;
  padding: 20px;
}
